.flex-center {
    display:flex;
    align-items: center;
}

nav {
    margin-bottom: 15px;
}

nav, nav .nav-wrapper i{
    height:50px;
    line-height:50px;
}
    .dropdown-content {
        margin-top: 50px;
    }

.container.medium {
    width:90vw;
}

.collection-item a {
    color: #000;
}
    .collection-item a.secondary-content {
        color: #009688;
}
    .collection-item img {
        height: 70px;
        width: 70px;
        margin-right: 10px;
    }

.collection-hidden {
    display:none;
}

.card-panel{
    padding:10px 24px;
}
    .card-panel > span.notification {
        font-size:1em;
    }

.col.main-button{
    text-align: center;
}
    .main-button > button, .main-button > a  {
        margin:0 5px;
    }

.google-map {
    top:50px;
    position: absolute;
    height:100vh;
    width:100vw;
}


.form {
    margin:0 auto;
}

#card-alert button {
    background: none;
    border: none;
    color: #fff;
    font-size:20px;
    position: absolute;
    right:7px;
    top:7px;
}

.card .card-content {
    padding:14px 24px;
}

.hide-content {
    opacity:0;
    height: 0;
    overflow: hidden;
    transition: all .3s ease .15s;
}

.show-content {
    opacity:1;
    height: 70px;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.row .col.no-padding {
    padding: 0;
}

#rating-professional {
    padding:10px 5px;
}
#circle-rating {
    border:2px solid #0d47a1;
    border-radius:50px;
    height: 75px;
    text-align: center;
    display: flex;
    align-items: center;
}
    #circle-rating span {
        text-align: center;
        font-size:2em;
    }

/********** FIX MARGIN *********/

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-r-10 {
    margin-right:10px;
}

.margin-10-0 {
    margin: 10px 0;
}



/************* FIX PADDING **************/

.padding-0-30 {
    padding:0 30px;
}

.padding-5{
    padding:5px;
}


/*********** FIX FLOAT *************/

.no-float {
    float: none;
}

/************** FIX OVERFLOW *******************/

.no-overflow {
    overflow: inherit;
}

.secondary-content.no-float {
    text-align: right;
}

/****************** TEXT *******************/

.text-center {
    text-align: center;
}


/****************** MODALS *******************/


/****************** DISPLAY *******************/

.flex{
    display: flex;
}

.flex-center{
    display: flex;
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 768px) {

    .container{
        width: 100vw;
    }

    row col{
        padding:10px;
    }
        .card-panel span {
            padding:10px 5px;
        }

    .col.main-button {
        padding:0;
        margin:0;
        left:0;
    }
        .main-button button, .main-button a {
            border-radius:0;
            box-shadow: none;
            margin:0;
        }
            .main-button button:first-child, .main-button a:first-child {
                border-right: 1px solid #eee;
            }
            .main-button button:last-child, .main-button a:last-child {
                border-left: 1px solid #eee;
            }

    .collection .collection-item {
        padding:5px 0;
    }
        .collection .collection-item.avatar {
            padding-left:5px;
        }

    .container-map .search-professional {
        position: absolute;
        left:5%;
        top:15%;
    }

    img.sidebar-background {
        width:100%;
    }


    /******************** COSTUM PERFIL********************/
    
        .perfil img {
            display: inline-block;
            float: left;
            height: auto;
            width: 100px;
        }

        .perfil .simple-data {
            display: flex;
        }
            .perfil .identifier {
                font-size: 1.1em;
                padding: 10px;
            }

            .perfil .identifier strong {
                font-size: 1.3em;
            }

            .perfil .icon {
                display: flex;
                padding:10px 0;
            }

    .info-professional {
        margin-top:15px;
    }

        .info-professional #modal1 {
            height: 70vh;
        }

    .flex-center i {
        margin-left: 5px;
    }

}



/********************** SERVIÇOS *******************/
.collection.with-header .collection-item.avatar {
    padding-left: 20px;
}